*.log
.DS_Store
.env
dist

# IDE - VSCode
.vscode/*
!.vscode/pnpify
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Yarn
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
node_modules
